  /* T H E M E */
  .theme-color-default {
    color: #645f64;
    
}
.theme-color-primary {
    color: #b6cd30;
}
.theme-color-secundary {
    color: #9427cd; 
}
.theme-color-light {
    color: #ffff;
}
.theme-background-light {
    background-color: #e5e4f9; 
}
.theme-background-dark {
    background-color: #502265; 
}