  /* T H E M E */
  .theme-color-default {
    color: $color_default;
    
}
.theme-color-primary {
    color: $color_primary;
}
.theme-color-secundary {
    color: $color_secundary; 
}
.theme-color-light {
    color: $color_secundary;
}
.theme-background-light {
    background-color: $color_secundary; 
}
.theme-background-dark {
    background-color: $bg_color_dark; 
}