/* C O L O R S */
$color_default: #645f64;
$color_primary: #145dbd;
$color_secundary: #4e88f3;
$color_light: #fff;
$bg_color_light: #e5e4f9;
$bg_color_dark: #c5cfd6;

/* Width layout */
$width_layout: 960px;